<template>
<div>
    <div class="container">
    <br><br>
    <div class="row" id="">
        <div class="col-lg-7 col-lg-offset-6">
            <input type="search" @input="citySearch" v-model="search" id="search" value="" class="form-control" placeholder="Search City">
        </div>
        <div>
            <button class="btn btn-primary" @click="searchFunction">Search</button>
        </div>
    </div>
    <br><br>
    <div class="row" id="">
        <div class="col-lg-8">
           <div class="card">
            <div class="card-header">
                Featured
            </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>            
        </div>
    </div>
</div>
   </div>
</template>

<script>
import axios from "axios";
export default {
  name: "search",

  data() {
    return {
      search: ""
    };
  },

  methods: {
    citySearch() {
      let placeName = this.search;

      axios
        .get(
          "https://maps.googleapis.com/maps/api/place/autocomplete/json?input=" +
            placeName +
            "&key=AIzaSyBTfzA0FmSaCQoBbKnUrAyJTIwH8qnNKw0"
        )
        .then(response => {
          console.log(response);
        });
    },
    searchFunction() {}
  }
};
</script>
<style type="text/css">
</style>