<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
  <h2><b><a class="navbar-brand" href="#">City Info</a></b></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
  </div>
</nav>
</template>
<script>
    export default{

    }
</script>
<style>
    
</style>