<template>
  <div id="app">
    <navbar></navbar>
    <city-search></city-search>
  </div>
</template>

<script>
import Navbar from './components/Navbar'
import CitySearch from './components/CitySearch'

export default {
 components:{
   Navbar,CitySearch
 }
}
</script>

<style>

</style>
